<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name"/>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki.dating.se.ifmo.ru:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>
                    service_name=${SERVICE_NAME},
                    host=${HOSTNAME},
                    level=%level,
                    logger=%logger{36},
                    request_id=%X{request_id},
                    remote_address=%X{remote_address},
                    method=%X{method},
                    path=%X{path}
                </pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    [%level] %logger{36}: %msg%n
                </pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI" />
    </root>
</configuration>
