[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_ca

[dn]
C = RU
ST = Saint-Petersburg
L = Saint-Petersburg
O = ITMO Dating
OU = IT
CN = *.dating.se.ifmo.ru

[v3_ca]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1  = localhost
DNS.2  = authik-0.dating.se.ifmo.ru
DNS.3  = authik-1.dating.se.ifmo.ru
DNS.4  = authik-2.dating.se.ifmo.ru
DNS.5  = matchmaker-0.dating.se.ifmo.ru
DNS.6  = matchmaker-1.dating.se.ifmo.ru
DNS.7  = matchmaker-2.dating.se.ifmo.ru
DNS.8  = people-0.dating.se.ifmo.ru
DNS.9  = people-1.dating.se.ifmo.ru
DNS.10 = people-2.dating.se.ifmo.ru
DNS.11 = server.dc1.consul
DNS.12 = vault.dating.se.ifmo.ru
DNS.13 = config.dating.se.ifmo.ru
